{% extends 'base.html' %}
{% load static %}
{% block title %}New Post{% endblock %}
{% block content %}
<form method="POST" class="col-6 mx-auto my-5 py-4" enctype="multipart/form-data">
    <h1 class="title mx-auto">New Post</h1>
    <div class="py-4 px-5" style="border: 1px solid #1DA1F2; border-radius: 5px">
            {% csrf_token %}
            {% include 'includes/simple_form.html' %}
            <button class="btn btn-success mx-auto my-2" type="submit" style="background-color: #1DA1F2; border: #1DA1F2;">Submit</button>
            <a class="btn btn-success mx-auto my-2" href="{% url 'blog' %}" style="background-color: #1DA1F2; border: #1DA1F2; color: white;">Back</a>
    </div>
</form>
{% endblock %}