// main rules
@use "sass/_global_rules";
// main colors
@use "sass/colors" as *;


@media (min-width: 768px) and (max-width: 992px) {
    .doctor-profile{
        .doctor-description{
            width: 75%;
        }
        .about-doctor{
            .about-doctor-content{
                width: 80%;
            }
        }
        .professions{
            width: 90%;
            .professions-content{
                display: block !important;
                .experience,
                .skills{
                    width: 60%;
                    text-align: center;
                }
            }
        }
    }
}