// main rules
@use "sass/_global_rules";
// main colors
@use "sass/colors" as *;

/* --------------------- start home styling --------------------- */

.blue-nav{
    color: white;
    background-color: $primary;
    position: sticky !important;
    position: -webkit-sticky !important;
}
.home{
    background-image: url('/static/img/doctor.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80vh;
    position: relative;
    .description{
        width: 40%;
        position: absolute;
        left: 20%;
        top: 30%;
        transform: translate(-30%, -20%);
        .leading-the{
            font-family: displayOne;
            color: $primary;
            font-size: 48px;
            text-transform: capitalize;
            font-weight: bold;
        }
    }
    .cadrs-container{
        width: 99%;
        display: block;
        position: absolute;
        bottom: -5%;
        .cadrs{
            justify-content: space-evenly;
            width: 70%;
            .cadr{
                background-color: white;
                width: 30%;
                padding: 2%;
                border-radius: 7px;
                text-align: center;
                color: white;
                .span{
                    width: 80%;
                }
                .icon{
                    width: 20%;
                    text-align: center;
                    font-size: 28px;
                }
            }
            .c-first{
                background-color: $primary;
            }
            .c-second{
                background-color: $secondary;
            }
            .c-last{
                background-color: $accent;
            }
        }
    }
}

/* --------------------- end home styling --------------------- */
/* --------------------- start about us styling --------------------- */

.welcoming{
    width: 50%;
    text-align: center;
    .welcoming-picture img{
        width: 100%;
    }
}
/* --------------------- end about us styling --------------------- */
/* --------------------- start services styling --------------------- */
.our-services{
    width: 50% !important;
    text-align: center;
}
/* --------------------- end services styling --------------------- */
/* --------------------- start contact styling --------------------- */
.contact{
    width: 100%;
    .titles{
        width: 50%;
        text-align: center;
        
    }
    .boxes{
        justify-content: space-evenly !important;
        width: 60%;
        .first-box,
        .third-box,
        .last-box{
            background-color: $accent;
            color: $primary;
            border-radius: 5px;
            width: 20%;
        }
        .second-box{
            background-color: $primary;
            color: $accent;
            border-radius: 5px;
            width: 20%;
        }
    }
    h6{
        font-weight: bold;
        text-transform: uppercase;
    }
    
}
/* --------------------- end contact styling --------------------- */



